<template>
  <div id="home">
    <h1>Congratz, you are logged in!</h1>
    <hello :user="currentUser"></hello>
    <TicketTable> </TicketTable>
  </div>
</template>

<script>
import Hello from "@/components/Hello";
import TicketTable from "@/components/TicketTable";
export default {
  name: "Home",
  components: {
    Hello,
    TicketTable
  },
  data() {
    return {
      currentUser: Object
    };
  }
};
</script>

<style scoped>
#secure {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  margin-top: 10px;
}
</style>