<template>
  <div id="login" class="columns is-grouped is-centered is-bordered">
    <form @submit.prevent="login()" class="box" >
      <h3 class="title is-3">Connexion</h3>
      <label class="label">Email</label>
      <input type="text" name="username" placeholder="Email..." class="input" v-model="email">

      <label class="label">Mot de passe</label>
      <input type="password" name="password" placeholder="Mot de passe..." class="input" v-model="password">
      <button id="buttonLogin" class="button">Se connecter</button>
      <p id="loginError">{{error}}</p>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { HTTP } from "@/services/authentication.service.js";
import { AuthenticationService } from "@/services/authentication.service.js";

export default {
  name: "Login",
  data: function() {
    return {
      email: "",
      password: "",
      error: ""
    };
  },
  methods: {
    login: function() {
      HTTP.post(`/login_check`, {
        username: this.email,
        password: this.password
      })
        .then(response => {
          this.loginSuccessful(response);
          
        })
        .catch(error => {
          this.loginFailed();
        });
    },

    loginSuccessful(response) {
      if (!response.data.token) {
        this.loginFailed();
        return;
      }

      localStorage.token = response.data.token;
      this.error = "";

      this.$router.replace({ name: "Home" });
    },

    loginFailed() {
      this.error = "La connexion à échouée";
      delete localStorage.token;
    },
  }
};
</script>

<style lang="scss">

#login {
  margin: 10% 0% 0% 0%;
    input {
      margin: 0px 0px 10px 0px;
    }
}

#buttonLogin {
  margin: 5px 0px 10px 0px;
}

</style>