<template>
    <div>
        <h1>Hello {{currentUser.username}}, you are a {{currentUser.roles}}</h1>
    </div>
</template>

<script>
import { parseJwt } from "@/services/jwtdecoder.service.js";

export default {
  name: "Hello",
  data: function(){
      return {
          currentUser:Object(),
      }
  },
  methods: {
      getUserTickets: function() {


      }
  },
  mounted: function () {
    this.currentUser = parseJwt(localStorage.token);
    localStorage.username = JSON.stringify(this.currentUser.username);
    localStorage.roles = JSON.stringify(this.currentUser.roles);
  }
};
</script>