<template>
  <div id="app">
    <div id="nav" class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
          <router-link to="/" class="main-title title is-3">Interactiv' Support</router-link>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div v-if="!this.userToken" class="navbar-end">
            <router-link to="/home" class="navbar-item">Accueil</router-link>
            <a @click="logout()" class="navbar-item" href="#/">Déconnexion</a>
          </div>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { verifyAuth } from "@/services/authentication.service.js";
import { logout } from "@/services/authentication.service.js";
export default {
  name: "Navbar",
    data: function(){
      return {
          currentUser:Object(),
          userToken:String()
      }
  },
  methods: {
    logout
  },

  mounted: function() {
    var burger = document.querySelector(".burger");
    var nav = document.querySelector("#" + burger.dataset.target);

    burger.addEventListener("click", function() {
      burger.classList.toggle("is-active");
      nav.classList.toggle("is-active");
    });

    if (!verifyAuth.verifyTokenValidity(this.userToken)){
      this.logout();
    }
  }
};
</script>

<style lang="scss">
#nav {
  padding: 10px;
  a {
    font-weight: bold;
    color: #ffffff;
    &.router-link-exact-active {
      color: #ffffff;
    }
    .is-active {
      background-color: #00bda0;
    }
  }
  .navbar-item:hoover {
    background-color: #00bda0;
  }
  .navbar-item:hover {
    background-color: #00bda0;
  }
  .main-title {
    color: #ffffff;
  }
  .navbar-menu {
    background-color: #00d1b2;
  }
  .main-title {
    padding-top: 20px;
  }
}
</style>