<template>
    <div>
        <h1>Hello {{currentUser.username}}, you are a {{currentUser.roles}}</h1>
    </div>
</template>

<script>
export default {

  name: "NotFound",
  data: function(){
      return { }
  },
  methods: { },
};
</script>