<template>
  <div>
      <ul v-if="this.tickets !== null">
          <li v-for="ticket of this.tickets" :key="ticket.id">
            {{ticket.title}},
            {{ticket.software}}
            kiki
          </li>
      </ul>
  </div>
</template>

<script>
import { TicketService } from '@/services/ticket.service.js'

export default {
  name: "TicketTable",
  data : function () {
    return {
      tickets:Array()
    }
  },
  methods: {},
  created: function () {
    console.log(this.tickets);
    const ticketService = new TicketService()
    this.tickets = ticketService.getUserTickets()
  }

};
</script>