<template>
  <navbar></navbar>
</template>

<script>
import Navbar from "@/components/Navbar";

export default {
  components : {
    Navbar
  }

};
</script>


<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
</style>
